@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Petit+Formal+Script&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  color: #555;
}
h1 {
  font-family: "Abel", sans-serif;
}
.policy-icon {
  width: 200px !important;
  height: 200px !important;
  color: teal;
  fill: teal;
}
/* .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
} */
.main-container {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #10b09b43;
  position: relative;
}
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  background: #1d718432;
}
.topbar-container {
  width: 100%;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: teal;
  z-index: 9999;
}
.link {
  margin: 0 10px;
  font-size: inherit;
}
.logo-text {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "Petit Formal Script", cursive;
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-bar-logo {
  height: 35px;
  width: 35px;
}
.no-data-text {
  font-weight: 300;
  margin: 20px;
  font-size: 1rem;
}
.menu-icon {
  fill: white !important;
  font-size: 2rem !important;
  cursor: pointer;
}
.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.topbar-btn {
  border: 1.5px solid white;
  background: transparent;
  height: 35px;
  padding: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
}
.table-container {
  width: 100% !important;
  background: rgb(240, 244, 240);
  min-height: 160px;
}
.debt-text {
  font-weight: 300;
  font-size: 1.4rem;
}
.dialog-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 1px;
}
.dialog-close-btn {
  height: 35px;
  border: 2px solid teal;
  color: teal;
  background: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.dialog-label {
  color: #555;
}
.side-menu-container {
  width: 90%;
  max-width: 350px;
  position: fixed;
  top: 60px;
  right: 0;
  background: #4fb0b0;
  z-index: 12229999999;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.menu-item {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #bbb9b9;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.portfolio-action-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.portfolio-action-icon {
  cursor: pointer;
  font-size: 1rem;
}
.achieved {
  fill: #ff0077 !important;
  font-size: 0.7rem !important;
}
.red {
  color: red;
}
.loading-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 50%;
}
.piechart {
  width: 98% !important;
  height: fit-content !important;
}

.portfolio-info-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 400px;
}
.info-key,
.dialog-icon {
  font-size: 0.8rem;
  font-weight: 200;
}
.info-key {
  display: flex;
  align-items: center;
  gap: 6px;
}
.progress-container {
  height: 6px;
  width: 100%;
  background: #bde5ef;
}
.progress {
  height: inherit;
  background: #01a3d0;
  max-width: 100%;
}
.key-value-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
.subscribe-btn {
  background: #3399ff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
/* go premium */
.go-premium-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin: 20px 0;
}
.go-premium-title {
  font-size: 1rem;
  text-align: center;
}
.go-premium-message {
  line-height: 1.6rem;
}
@media (max-width: 700px) {
  .chart-container {
    overflow-x: scroll;
  }
}
@media (max-width: 420px) {
  .topbar-container {
    padding: 0 10px;
  }
  .logo-text {
    font-size: 1.2rem;
  }
  .top-bar-logo {
    height: 25px;
    width: 25px;
  }
  .topbar-btn {
    height: 25px;
    padding: 5px;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
  }
  .portfolio-info-container {
    width: 100%;
    min-width: 80vw;
  }
  /* .dialog-container {
    width: 100vw !important;
  } */
}
