.dashboard-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-y: scroll;
  height: calc(100vh - 60px);
  position: relative;
  top: 0px;
}
.dashboard-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
}
/* .dashboard-actions-container {
  display: flex;
  align-items: center;
  gap: px;
  width: 100%;
} */
.dashboard-action-btn {
  background: transparent;
  border: 2px solid teal;
  color: teal;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  height: 35px;
  padding: 0 6px;
  cursor: pointer;
}
.action-icon {
  fill: teal !important;
  font-size: 1rem;
}
.savings-portfolios-container,
.debt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-value {
  font-size: 1rem;
}
.portfolio-title {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.debt-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.debt-value {
  font-weight: 600;
  font-size: 1rem;
}
.dashboard-right {
  flex: 3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.achievements-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.chart-container {
  width: 100%;
  margin-bottom: 10px;
}
.quick-chart {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.no-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.finance-info-container {
  width: 100%;
  height: 150px;
  border: 2px solid #0080803a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  box-shadow: -1px -1px 1px 1px #008080;
}
.info-container {
  height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid #0080803a;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px 2px teal;
}
.finance-info-key {
  font-size: 0.8rem;
  color: #6d7171;
}
.finance-info-value {
  color: teal;
  font-weight: 600;
  font-size: 0.8rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
@media (max-width: 769px) {
  .dashboard-container {
    flex-direction: column;
  }
  .dashboard-left,
  .dashboard-right {
    width: 100%;
    padding: 8px;
  }
}
@media (max-width: 400px) {
  .finance-info-container {
    padding: 10px;
  }
  .info-container {
    height: 85%;
  }
}
@media (max-width: 320px) {
  .finance-info-container {
    height: 150px;
  }
  .info-container {
    height: 70%;
  }
  .finance-info-key {
    font-size: 0.6rem;
  }
}
