.dashboard-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-y: scroll;
  height: calc(100vh - 60px);
  position: relative;
  top: 0px;
}
.dashboard-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 12px;
}
.dashboard-action-btn {
  background: transparent;
  border: 2px solid teal;
  color: teal;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  height: 35px;
  padding: 0 6px;
  cursor: pointer;
}
.action-icon {
  fill: teal !important;
  font-size: 1rem;
}
.savings-portfolios-container,
.debt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.portfolio {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.portfolio-value {
  font-size: 0.6rem;
}
.portfolio-title {
  display: flex;
  align-items: center;
  font-size: 0.6rem;
}
.portfolio-details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-title-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.debt-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.debt-value {
  font-weight: 600;
  font-size: 1rem;
}
.dashboard-right {
  flex: 3;
  width: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.achievements-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.chart-container {
  max-width: 100%;
  margin-bottom: 10px;
}
.quick-chart {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.no-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 769px) {
  .dashboard-container {
    flex-direction: column;
  }
  .dashboard-left,
  .dashboard-right {
    width: 100%;
    padding: 8px;
  }
}
