
.expenses-details-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
  /* align-items: flex-start; */
}
.cat-icons {
  fill: teal !important;
  color: teal !important;
  font-size: 0.8rem;
}
.expenses-left,
.expenses-right {
  flex: 1 !important;
}
.expenses-left {
  overflow-x: scroll;
}

.expenses-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.expenses-categories-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.category {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1.8px solid teal;
  height: fit-content;
  border-radius: 7px;
  padding: 5px;
  text-decoration: none;
}
.expenses-heading {
  margin-bottom: 15px;
}
.category-value {
  font-weight: 500;
  color: #bf00ff;
  font-size: 0.8rem;
}

@media (max-width: 770px) {
  .expenses-details-container {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .expenses-container {
    padding: 10px;
  }
}
