.highlight-heading {
  padding: 15px;
  font-weight: normal;
  font-size: 1.4rem;
}
.highlight-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.highlight-left,
.highlight-right {
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #10c1ee0e;
  flex: 1 !important;
}

.highlights-charts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.highlight-chart-title {
  font-size: 0.8rem;
}
.highlights-charts {
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  background: #18476813;
  padding: 10px;
  border-radius: 8px;
}
.highlight-history-container {
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: scroll;
}
@media (max-width: 770px) {
  .highlight-container {
    flex-direction: column;
  }
  .highlight-left,
  .highlight-right {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .highlights-charts {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .highlight-left,
  .highlight-right {
    padding: 0;
  }
}
