.highlight-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.highlight-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  /* overflow-y: scroll; */
}
.highlights {
  /* border: 2.5px solid teal; */
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.highlight-subheading {
  font-size: 1rem;
}
.highlights-sub-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.highlight-right {
  flex: 1;
  width: 100%;
  /* overflow-y: scroll; */
}
.highlight-info-container {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1.6px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.highlight-info-title {
  font-size: 0.8rem;
}
.highlight-info-value {
  font-size: 0.8rem;
  font-weight: 600;
  color: teal;
}
@media (max-width: 770px) {
  .highlight-container {
    flex-direction: column;
    overflow: scroll;
    height: fit-content;
    padding: 10px;
  }
  .highlights {
    padding: 0;
  }
}
