@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");
.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  background: #ffffffb1;
}
.intro-heading {
  color: teal;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 25px;
  font-family: "Diphylleia", serif;
}
.intro-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
  width: 90%;
  max-width: 768px;
  text-align: center;
  color: #333;
}
.intro-nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.intro-nav-btn {
  text-decoration: none;
  cursor: pointer;
  border: 2px solid teal;
  color: teal;
  height: 35px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-nav-btn:last-child {
  background: teal;
  color: white;
}
.card-img {
  object-fit: contain;
}

.features-container,
.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.features-title,
.about-title,
.contact-heading,
.referral-title {
  font-weight: 300;
  font-size: 2rem;
}
.features,
.about {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}
.features-card,
.about-card {
  background: #ffffffab;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}
.about-card,
.contact-form-container {
  box-shadow: 0px 0px 7px 1px #03b5b5;
}
.card-icon {
  font-size: 4rem;
  fill: teal !important;
  color: teal !important;
}
.feature-card-title,
.about-card-title {
  font-size: 1rem;
  font-weight: 300;
}
.feature-card-info,
.about-card-info,
.referral-info {
  font-size: 1rem;
  line-height: 1.4rem;
}
.referral-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffffb1;
  padding: 20px;
  padding-bottom: 0;
}
.referral-img {
  width: 400px;
}
.referral-details {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}
.contact {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.exchange-container {
  width: 100%;
  display: flex;
  align-content: inherit;
  justify-content: center;
  padding: 20px;
  background: #ffffffb1;
}
footer {
  background: teal;
  color: white;
  padding: 20px;
}
footer a {
  color: white;
  margin-left: 12px;
}
@media (max-width: 867px) {
  .referral-title {
    font-size: 1.6rem;
  }
}
@media (max-width: 770px) {
  .referral-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .referral-details {
    width: 100%;
    align-items: center;
  }
  .referral-title {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .intro-heading {
    font-size: 1.6rem;
    margin-bottom: 18px;
  }
  .features-card,
  .about-card {
    width: 98%;
  }
  .intro-text {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .features-title,
  .about-title,
  .contact-heading {
    font-size: 1.4rem;
  }
}
