@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");
.intro-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: teal;
  padding: 70px 20px;
}
.intro-graphics {
  flex: 1;
}
.intro-img {
  width: 100%;
  height: auto;
}
.intro-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.intro-heading {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: "Diphylleia", serif;
  width: 80%;
}
.intro-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
  width: 90%;
  max-width: 768px;
  text-align: center;
  color: #3f5355;
}
.intro-nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-img {
  object-fit: contain;
}

.features-container,
.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background: white;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100vw;
}
.feature:nth-child(even) {
  background: #10b09b43;
  flex-direction: row-reverse;
}
.feature-img {
  height: 250px;
}
.feature-text-container,
.feature-img-container {
  width: 50%;
}
.feature-img-container {
  display: flex;
  justify-content: flex-end;
}
.feature-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.feature:nth-child(even) .feature-img-container {
  justify-content: flex-start;
}
.feature:nth-child(even) .feature-text-container {
  align-items: flex-end;
}
.feature:nth-child(even) .feature-text-container .feature-description {
  text-align: end;
}
.feature:last-child .feature-img-container .feature-img {
  height: 150px;
}

.feature-title {
  color: teal;
  font-weight: 300;
}
.feature-description {
  width: 70%;
}
.features-title,
.about-title,
.contact-heading,
.referral-title {
  font-weight: 300;
  font-size: 2rem;
}
.features,
.about {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}
.features-card,
.about-card {
  background: #ffffffab;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}
.about-card,
.contact-form-container {
  box-shadow: 0px 0px 7px 1px #03b5b5;
}
.card-icon {
  font-size: 4rem;
  fill: teal !important;
  color: teal !important;
}
.feature-card-title,
.about-card-title {
  font-size: 1rem;
  font-weight: 300;
}

.about-card-info,
.referral-info {
  font-size: 1rem;
  line-height: 1.4rem;
}
.intro-nav-btn1 {
  background: #fff !important;
  color: teal !important;
  border-radius: 8px;
  height: 50px;
  font-size: 1.2em;
}
.btn-outline {
  background: none !important;
  border: 3px solid white;
  color: white !important;
  display: flex;
  gap: 7px;
  height: 47px !important;
}
.nav-btn-icon {
  fill: white !important;
  font-size: 1.2em !important;
}
.referral-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: #ffffffb1;
  padding: 20px;
  padding-bottom: 0;
}
.referral-img {
  width: 40%;
}
.referral-details {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding-bottom: 15px;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}
.contact {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.video-container {
  background: red;
}
@media (max-width: 867px) {
  .referral-title {
    font-size: 1.6rem;
  }
}
@media (max-width: 770px) {
  .reverse {
    flex-direction: column !important;
  }
  .referral-details {
    width: 100%;
    align-items: center;
  }
  .referral-title {
    font-size: 1.6rem;
    text-align: center;
  }
  .intro-heading {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .intro-container {
    flex-direction: column;
    gap: 20px;
    height: fit-content;
  }
  .feature {
    flex-direction: column;
    padding: 16px;
  }
  .feature:nth-child(even) {
    flex-direction: column;
  }
  .feature-text-container,
  .feature-img-container {
    width: 100%;
  }
  .intro-heading {
    /* font-size: 1rem; */
    margin-bottom: 18px;
    width: 100%;
  }
  .referral-container {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }
  .referral-img {
    width: 70%;
  }

  .features-card,
  .about-card {
    width: 98%;
  }
  .features-title,
  .about-title,
  .contact-heading {
    font-size: 1.4rem;
  }
}
@media (max-width: 340px) {
  .btn-outline {
    font-size: 0.6rem !important;
    height: 32px !important;
    border-radius: 4px !important;
    gap: 3px;
  }
  .nav-btn-icon {
    font-size: 0.6rem !important;
  }
}
