.notification-container {
  width: 100%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
.notification-heading {
  padding: 20px;
  font-size: 1.5rem;
}
.notification-item-container {
  width: 100%;
  background: #00808028;
  border-bottom: 2px solid #00808028;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  /* height: 40px; */
}
.read {
  background: transparent;
}
.no-notification-heading {
  font-size: 1.2rem;
  padding: 20px;
  font-weight: 300;
}
.notification-items-container {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  width: 100%;
}
