.settings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.personal-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.key-value-pairs {
  display: flex;
  align-items: center;
  gap: 15px;
  /* justify-content: flex-end; */
}
.key-value-pairs h1 {
  font-size: 1.2rem;
  font-weight: 300;
}
.settings-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.settings-action-btn {
  padding: 0 10px;
  width: 100%;
}
