.settings-sub-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  height: 100%;
  justify-content: center;
  /* overflow-x: hidden; */
}
.account-info {
  background: white;
  padding: 10px;
  border-radius: 8px;
}
.income-streams-container {
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.personal-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.key-value-pairs {
  display: flex;
  align-items: center;
  gap: 15px;
}
.key-value-pairs h1 {
  font-size: 1.2rem;
  font-weight: 300;
}
.settings-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.account-info-container {
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.avatar {
  height: 200px;
  width: 200px;
  align-self: center;
  background: white;
  margin-bottom: 20px;
}
.account-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.account-info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-info-top h1 {
  font-size: 1rem;
  color: black;
}
.date-joined {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}
.account-info-middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info {
  display: flex;
  align-items: center;
  gap: 6px;
}
.account-info-bottom {
  width: 100%;
  display: flex !important;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.settings-action-btn {
  width: fit-content;
  border: none;
  background-color: teal;
  color: white;
  height: 35px;
  padding: 0 10px;
  display: inline;
  cursor: pointer;
  border-radius: 4px;
}
.settings-action-btn:last-child {
  background: #e20762;
}
.summary-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.summary-chart-sub-container {
  display: flex;

  background: white;
  border-radius: 8px;
  width: 100% !important;
  padding: 10px;
}
.top-summary-container,
.bottom-summary-container {
  /* min-width: 350px; */
  display: flex;
  flex-direction: column;
}
.top-summary-container h1,
.bottom-summary-container h1 {
  font-size: 1rem;
  margin-bottom: 10px;
  align-self: center;
}
.financial-summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.value {
  font-weight: 600;
  color: teal;
}
.ref {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chart-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.indicators {
  height: 10px;
  width: 10px;
}
.income-streams-container {
  margin-top: 12px;
}
.income-streams-container h1 {
  font-size: 1rem;
}
@media (max-width: 769px) {
  .settings-sub-container {
    flex-direction: column;
    overflow-y: scroll;
    /* background: #000; */
  }
}
@media (max-width: 420px) {
  .settings-sub-container {
    padding: 10px;
  }
}
